<div class="card h-100 product-card border-0">

  <div class="image-wrapper position-relative">

    <!-- Top Actions -->
    <div class="top-actions">
      <span class="icon"
            [class.filled]="isInWishlist(product.id)"
            (click)="onWishlistClick(product.id)">
        {{ isInWishlist(product.id) ? '❤' : '♡' }}
      </span>

      <!-- <label class="compare mb-0">
        <input type="checkbox" hidden> Compare
      </label> -->
    </div>

    <!-- Product Image -->
    <a [routerLink]="['/store/product', product.productUrl]">
      <img
        class="productImage"
         loading="lazy"
        [src]="getPrimaryImage(product)"
        [alt]="product.productName"
      />
    </a>
  </div>

  <div class="details d-flex flex-column flex-grow-1">

    <!-- Title -->
    <h6 class="title">
      <a class="alinkcolor"
         [routerLink]="['/store/product', product.productUrl]">
         {{ product.productName }}
      </a>
    </h6>

    <!-- Rating -->
    <div class="rating">
      ⭐ 4.5 (120)
    </div>

    <!-- Price -->
    <div class="price-row">
      <span class="price">
        ₹{{ getFinalPrice(product) }}
      </span>

      <span class="old-price" *ngIf="product.discountPrice > 0">
        ₹{{ product.baseAmount }}
      </span>

      <span class="off"
            *ngIf="getDiscountPercent(product) as discount">
        {{ discount }}% OFF
      </span>
    </div>

    <!-- Delivery / Description -->
    <div class="delivery">
      🚚 {{ product.shortDescription }}
    </div>

    <!-- Button -->
    <button class="btn-outline mt-auto"
            (click)="addToCart(product)">
      Add to Cart
    </button>

  </div>
</div>
