<form [formGroup]="productImagesForm">
  <div *ngIf="isLoading" class="loader-overlay">
        <div class="spinner-border text-primary" role="status">
        </div>
        <p class="text-white mt-2">Please wait...</p>
      </div>
<div class="dialog-container">

  <h2 class="dialog-header"><span>Product Image</span>  
    <button mat-icon-button (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </h2>
  

  <!-- Table Headers -->
<div class="image-grid">
  <div *ngFor="let img of productImage" class="image-box">
    <img
      [src]="'data:image/png;base64,' + img.imageBase64"
      width="100"
      height="100"
    />

    <button mat-stroked-button color="warn" (click)="deleteImage(img.id)">
      Delete
    </button>
  </div>
</div>

<!-- IMAGE UPLOAD SECTION -->
<div class="image-grid" formArrayName="imagesArray">
  
  <div class="image-card mat-elevation-z2"
       *ngFor="let img of imagesArray.controls; let i = index"
       [formGroupName]="i">

    <!-- Title -->
    <div class="image-title">
      {{ img.value.label }}
      <span *ngIf="img.value.required" class="required">*</span>
    </div>

    <!-- Upload Box -->
    <div class="upload-box" (click)="triggerFile(i)">
      
      <!-- Preview -->
      <img *ngIf="img.value.previewUrl"
           [src]="img.value.previewUrl"
           class="preview-image">

      <!-- Placeholder -->
      <div class="placeholder" *ngIf="!img.value.previewUrl">
        <mat-icon>cloud_upload</mat-icon>
        <span>{{ img.value.fileName || 'Choose File' }}</span>
      </div>
    </div>

    <!-- Hidden Input -->
 <input #fileInputs
       type="file"
       hidden
       accept="image/*"
       (change)="onSelectImage($event, i)">
  </div>
</div>


<!-- ACTION BUTTON ROW -->
<div class="action-row">
  <button class="add-btn" (click)="addImage('Upload image')">
    + ADD IMAGE
  </button>

  <button class="add-btn"
          (click)="productImages()"
          [disabled]="imagesArray.length === 0 && productImagesForm.invalid || isSubmitting">
  Submit
  </button>
</div>
</div>
</form>
