<div class="product-detail" *ngIf="product">

  <div class="image-section">

    <div class="thumb-slider">
      <button class="arrow" (click)="prevThumb()">▲</button>

      <div class="thumb-list">
        <img
          *ngFor="let img of visibleImages; let i = index"
          [src]="img"
          (click)="selectImage(img, i)"
          [class.active]="activeIndex === (i + currentIndex)"
        />
      </div>

      <button class="arrow" (click)="nextThumb()">▼</button>
    </div>

    <div class="main-image zoom-container">
      <img [src]="selectedImage" class="zoom-img" />
    </div>

  </div>

  <div class="info">
    <h2 class="title">{{ product.productName }}</h2>
 <div class="price price-row mb-2">
      <span class="font-weight-bold text-dark">
        ₹{{ getFinalPrice(product) }}
      </span>

      <span class="text-muted ml-2" *ngIf="product.discountPrice > 0">
        <s> ₹{{ product.baseAmount }}</s>
      </span>

      <span class="text-success ml-2"
            *ngIf="getDiscountPercent(product) as discount">
        {{ discount }}% Off
      </span>
    </div>
    <div class="rating mb-2">⭐ 4.5 (120)</div>

    <div class="delivery text-muted small mb-3">
      🚚 {{ product.shortDescription }}
    </div>

    <label class="compare mb-0">
     <span class="icon"
  [class.filled]="isInWishlist(product.id)"
  (click)="onWishlistClick(product.id)">
  {{ isInWishlist(product.id) ? '💚' : '♡' }}</span>
      <!-- <input type="checkbox" class="spaceicon"> Compare -->
    </label>

    <button class="btn-outline" (click)="addToCart(product)">Add to Cart</button>

    <div class="feature-card">
      <h3>Key Features</h3>
      {{ product.description }}
    </div>
  </div>
  
</div>

<div class="spec-card" *ngIf="product">

  <div class="spec-header">
    <h3>Specifications</h3>
    <span class="toggle">⌃</span>
  </div>

  <div class="spec-section">
    <h3>PRODUCT DETAILS</h3>
    <div class="spec-grid">
      <div class="spec-item">
        <label>Service Category</label>
        <span>{{ product.categoryName }}</span>
      </div>
       <div class="spec-item">
        <label>Product Covered</label>
        <span>{{ product.productCovered }}</span>
      </div>
       <div class="spec-item">
        <label>No. of Devices Covered</label>
        <span>{{ product.noOfDevicesCovered }}</span>
      </div>
       <div class="spec-item">
        <label>Product Price Range</label>
        <span>Upto Rs. {{ product.baseAmount }}</span>
      </div>
      <div class="spec-item">
        <label>Service Available From</label>
        <span>{{ product.servicesAvilableFrom }}</span>
      </div>
      
       <div class="spec-item">
        <label>Service Period</label>
        <span>{{ product.servicesPeriod }}</span>
      </div>
      <div class="spec-item">
        <label>When to Purchase</label>
        <span>{{ product.whentoPurchase }}</span>
      </div>
      <div class="spec-item">
        <label>GST</label>
        <span>{{ product.gstPercentage }}%</span>
      </div>
       <div class="spec-item">
        <label>Model Number</label>
        <span>Not Applicable</span>
      </div>
    </div>
  </div>
  <hr>
   <div class="spec-section">
    <h3>MANUFACTURER DETAILS</h3>

    <div class="spec-grid">
      <div class="spec-item">
        <label>Brand</label>
        <span>{{ product.brandName }}</span>
      </div>
       <div class="spec-item">
        <label>SKU</label>
        <span>{{ product.sku }}</span>
      </div>
      <div class="spec-item">
        <label>Model Number</label>
        <span>Not Applicable</span>
      </div>
    </div>
  </div>
   <hr>
   <div class="spec-section">
    <h3>Service Coverage Features</h3>

    <div class="spec-grid">
      <div class="spec-item">
        <label>Service Type</label>
        <span>{{ product.serviceType }}</span>
      </div>
       <div class="spec-item">
        <label>Service Includes</label>
        <span>{{ product.serviceIncludes }}</span>
      </div>
      <div class="spec-item">
        <label>Service Excludes</label>
        <span>{{ product.serviceExcludes }}</span>
      </div>
      <div class="spec-item">
        <label> Authorized Service Centre Repairs</label>
        <span>{{ product.authorizedServiceCentreRepairs }}</span>
      </div>
     <div class="spec-item">
        <label>Cashless Service</label>
        <span>{{ product.cashlessService }}</span>
      </div>
      <div class="spec-item">
        <label>Claim Type</label>
        <span>{{ product.claimType }}</span>
      </div>
      <div class="spec-item">
        <label>Cost Covered</label>
        <span>{{ product.costCovered }}</span>
      </div>
      <div class="spec-item">
        <label>Documents Required</label>
        <span>{{ product.documentsRequired }}</span>
      </div>
       <div class="spec-item">
        <label>Service Cancellation/Refund Period</label>
        <span>{{ product.serviceCancellationRefundPeriod }}</span>
      </div>
       <div class="spec-item">
        <label>Extended Hours Support</label>
        <span>{{ product.extendedHoursSupport }}</span>
      </div>
       <div class="spec-item">
        <label>Support Centre Contact Details</label>
        <span>{{ product.supportCentreContactDetails }}</span>
      </div>
       <div class="spec-item">
        <label>How to Claim</label>
        <span>{{ product.howtoClaim }}</span>
      </div>
    </div>
  </div>
   <hr>
   <div class="spec-section">
    <h3>Aesthetics</h3>

    <div class="spec-grid">
      <div class="spec-item">
        <label>Brand Color</label>
        <span>NA</span>
      </div>
       <div class="spec-item">
        <label>Color</label>
        <span>NA</span>
      </div>
    </div>
  </div>
   <hr>
   <div class="spec-section">
    <h3>In The Box</h3>

    <div class="spec-grid">
      <div class="spec-item">
        <label>Generic Name</label>
        <span>{{ product.categoryName }}</span>
      </div>
       <div class="spec-item">
        <label>Main Product</label>
        <span>{{ product.sku }}</span>
      </div>
       <div class="spec-item">
        <label>Accessories</label>
        <span>Not Applicable</span>
      </div>
      <div class="spec-item">
        <label>Documents</label>
        <span>Warranty Documents</span>
      </div>
      
    </div>
  </div>
   <hr>
   <div class="spec-section">
    <h3>Product Dimensions (Open)</h3>
  </div>
   <hr>
   <div class="spec-section">
    <h3>Packaged Dimensions</h3>
  </div>
    <hr>
   <div class="spec-section">
    <h3>After Sales & Services</h3>
       <div class="spec-grid">
      <div class="spec-item">
        <label>Warranty Type</label>
        <span>{{ product.serviceType }}</span>
      </div>
       <div class="spec-item">
        <label>Installation & Demo</label>
        <span>{{ product.installationDemo }}</span>
      </div>  
    </div>
  </div>
   <hr>
   <div class="spec-section">
    <h3>Company Contact Information</h3>
       <div class="spec-grid">
      <div class="spec-item">
        <label>Customer Support Number</label>
        <span>{{ product.supportCentreContactDetails }}</span>
      </div>
       <div class="spec-item">
        <label>Customer Support Email</label>
        <span>{{ product.customerSupportEmail }}</span>
      </div>  
       <div class="spec-item">
        <label>Manufacturer/Importer/Marketer Name & Address</label>
        <span>{{ product.marketerNameAddress }}</span>
      </div> 
      <div class="spec-item">
        <label>Country of Manufacture</label>
        <span>India</span>
      </div>
      <div class="spec-item">
        <label>Country of Brand Origin</label>
        <span>India</span>
      </div> 
    </div>
  </div>
</div>
