/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f4f5f7;
}
.snackbar-error {
  background-color: #d32f2f;
  color: #fff;
  font-weight: 500;
}
.material-wide-panel {
  min-width: 320px !important;
  max-width: 700px !important;
}

.material-wide-panel .mat-option-text {
  white-space: nowrap;
}
