<div class="container mt-4">
  <h4 class="mb-4 mainhder"> Proceed To Payment</h4>
  <div class="row" *ngIf="cartItems.length > 0; else emptyCart">
    <div class="col-md-8">
      <div class="cart-item" *ngFor="let item of cartItems">
        <div class="d-flex maincardbox">
          <img [src]="item.image" class="product-img imagecrdpage" />

          <div class="ml-3 flex-grow-1">
            <h6>{{ item.name }}</h6>
          </div>

          <div class="text-right price-box">
           <h5>₹{{ item.price | number:'1.2-2' }}</h5>
<!-- <small>
  (Incl. ₹{{ item.gstAmount | number:'1.2-2' }} GST)
</small> -->
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
  <div class="coupon-box address-card" *ngIf="selectedShippingAddress">
    <h4>📦 Shipping Address   <div class="address-actions" style="float: right;">
    <span class="icon-btn" (click)="onChangeAddress()">✏️</span></div></h4>
    <p class="d-flex justify-content-between">
      <strong>{{ selectedShippingAddress.fullName }}</strong>
    </p>

    <p class="phone">
      📞 {{ selectedShippingAddress.phone }}
    </p>

    <p class="address-line">
     🏠 {{ selectedShippingAddress.addressLine }}
    </p>

    <p class="city">
      {{ selectedShippingAddress.city }},
      {{ selectedShippingAddress.state }} -
      {{ selectedShippingAddress.pincode }}
    </p>
  </div>
     <ng-template #noAddress>
  <div class="alert alert-warning">
    No address found. Please add an address.
  </div>
</ng-template>
      <div class="summary-box maincardbox address-card">
        <h6>Order Summary ({{ cartItems.length }} item)</h6>
<div class="d-flex justify-content-between">
  <span>Subtotal</span>
  <span>₹{{ subtotal | number:'1.2-2' }}</span>
</div>

<div class="d-flex justify-content-between">
  <span>GST</span>
  <span>₹{{ gstTotal | number:'1.2-2' }}</span>
</div>

<div
  class="d-flex justify-content-between text-success"
  *ngIf="couponDiscount > 0">
  <span>Coupon Discount</span>
  <span>-₹{{ couponDiscount | number:'1.2-2' }}</span>
</div>

<hr>

<div class="d-flex justify-content-between font-weight-bold">
  <span>Total Payable</span>
  <span>₹{{ grandTotal | number:'1.2-2' }}</span>
</div>



        <button class="btn-outline mt-4" [routerLink]="['/store/checkout']">
          Proceed To Payment
        </button>
      </div>
    </div>

  </div>

     <ng-template #emptyCart>
  <div class="container cart-empty-container">
  <div class="empty-cart text-center">
    <img
      src="assets/emptyCart.svg"
      alt="Empty Cart"
      class="empty-cart-img"
    />

    <h5 class="mt-4 font-weight-bold">Your Cart is Empty</h5>

    <a routerLink="/store" class="continue-shopping">
      continue shopping
    </a>
  </div>
</div>
</ng-template>
