.my-orders-container {
  padding: 30px;
}

.orders-table {
  width: 100%;
  border-collapse: collapse;
}

.orders-table th, .orders-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.orders-table th {
  background: #f1f1f1;
}
