<header class="store-header">
  <div class="left">
    <div class="logo" routerLink=""><img src="assets/logo.png"/></div>
  </div>

  <div class="center">
    <input class="search" placeholder="Search products..." />
  </div>

  <div class="right">
    <div class="icon-btn user" (mouseenter)="showUserMenu=true" (mouseleave)="showUserMenu=false">
      🧑🏻  <span style="color: #000"><strong>{{firstName | titlecase}} {{lastName | titlecase}}</strong><br/></span>

      <div class="user-dropdown" *ngIf="showUserMenu">
        <div class="menu-item" *ngIf="!firstName">
  <span class="icon">🧑🏻</span>
  <div (click)="custumerLogin()">
    Login / Create Account
  </div>
</div>

<div class="menu-item" *ngIf="firstName">
  <span class="icon">🧑🏻</span>
  <div>
    <b>My Profile</b>
  </div>
</div>

        <div class="menu-item" *ngIf="firstName">
          <span class="icon">📍</span>
          <div>
            <b>My Address</b>
          </div>
        </div>

        <div class="menu-item" *ngIf="firstName">
          <span class="icon">📦</span>
          <div>
            <b>My Orders</b>
          </div>
        </div>
        <div class="menu-item" *ngIf="firstName">
          <span class="icon">❤️</span>
          <div class="wishlist">
            <a [routerLink]="['/store/wishlist']"><b>My Wishlist </b></a>
          </div>
        </div>
        <div class="menu-item" *ngIf="firstName">
          <span class="icon">🔓</span>
          <div>
            <button class="logout-button" (click)="logout()">Logout</button>
          </div>
        </div>
      </div>
    </div>

    <div class="icon-btn cart"  routerLink="/store/cart">
      🛒 {{cartCount}}
    </div>
  </div>
</header>
