<footer class="ms-footer">
  <div class="ms-footer-container">

    <!-- CONNECT -->
    <div class="ms-footer-col ms-footer-connect">
      <h4 class="ms-footer-title">CONNECT WITH US</h4>

      <div class="ms-footer-input">
        <input type="email" placeholder="Enter Email ID">
        <button>➜</button>
      </div>

      <div class="ms-footer-social">
        <a href="#">🐦</a>
        <a href="#">📘</a>
        <a href="#">📸</a>
        <a href="#">🔗</a>
      </div>

      <p class="ms-footer-copy">
        © Copyright 2026 MS CarePrime. All rights reserved
      </p>
    </div>

    <!-- USEFUL LINKS -->
    <div class="ms-footer-col">
      <h4 class="ms-footer-title">USEFUL LINKS</h4>
      <ul class="ms-footer-list">
        <li><a routerLink="/#" class="footerlink">About Us</a></li>
        <li><a routerLink="/#" class="footerlink">Help & Support</a></li>
        <li><a routerLink="/#" class="footerlink">Buying Guide</a></li>
        <li><a routerLink="/store/productList" class="footerlink">Orders</a></li>
        <li><a routerLink="/store/productList" class="footerlink">Product</a></li>
      </ul>
    </div>

    <div class="ms-footer-col">
      <h4 class="ms-footer-title">&nbsp;</h4>
      <ul class="ms-footer-list">
        <li><a routerLink="/store/privacy_policy" class="footerlink">Privacy Policy</a></li>
        <li><a routerLink="/store/term_condition" class="footerlink">Term & Condition</a></li>
        <li><a routerLink="/store/refund_policy" class="footerlink">Refund Policy</a></li>
        <li><a routerLink="/store/return_policy" class="footerlink">Return Policy</a></li>
        <li><a routerLink="/store/shipping_policy" class="footerlink">Shipping Policy</a></li>
      </ul>
    </div>

    <!-- PRODUCTS -->
    <div class="ms-footer-col">
      <h4 class="ms-footer-title">Contact Us</h4>
      <p> Floor No.: First Floor IInd Hall<br/>
Building No./Flat No.: <br/>
Road/Street: Shrinath puram colony<br/>
Locality/Sub Locality: Pali Khera<br/>
City/Town/Village: Mathura<br/>
District: Mathura<br/>
State: Uttar Pradesh-281001<br/>
</p>
    </div>

    <!-- <div class="ms-footer-col">
      <h4 class="ms-footer-title">&nbsp;</h4>
      <ul class="ms-footer-list">
        <li>Grooming & Personal Care</li>
        <li>Cameras & Accessories</li>
        <li>Smart Devices</li>
        <li>Gaming</li>
        <li>Accessories</li>
        <li>Top Brands</li>
      </ul>
    </div> -->
  </div>
</footer>
