.store-header {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  background: #1d3557;
  justify-content: space-between;
}

.logo { font-size: 20px; font-weight: bold; cursor: pointer; }
.search {
  width: 40%;
  padding: 6px 12px;
  border-radius: 20px;
  border: none;
}
nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}


.store-header {
  height: 107px;
  background:#dae2f6;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.left .logo {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search {
  width: 60%;
  max-width: 500px;
  padding: 10px 16px;
  border-radius: 999px;
  border: none;
  outline: none;
}

.right {
  display: flex;
  align-items: center;
  gap: 18px;
  position: relative;
}

.icon-btn {
  cursor: pointer;
  position: relative;
}

/* Dropdown */

.user-dropdown {
  position: absolute;
  top: 20px;
  right: -15px;
  width: 220px;
  background: #003A8F;
  color:#fff;
  border-radius: 8px;
  padding: 2px 0;
  box-shadow: 0 12px 30px rgba(0,0,0,0.4);
  z-index: 1000;
}

.menu-item {
  display: flex;
  gap: 14px;
  padding: 12px 16px;
  cursor: pointer;
  transition: background 0.2s;
}

.menu-item:hover {
  background: rgba(255,255,255,0.08);
}

.menu-item .icon {
  font-size: 22px;
  width: 30px;
  text-align: center;
}

.menu-item b {
  color: #fff;
  font-size: 14px;
}

.menu-item small {
  color: #aaa;
  font-size: 12px;
}
.wishlist a{text-decoration: none;}