.ms-header {
  background: #dae2f6;
  padding: 12px 16px;
  position: sticky;
  top: 0;
  z-index: 1050;
}
.store-layout a {
    color: #fff;
    text-decoration: none;
  }
  .store-layout a:hover {
  color: #ffb703;
  text-decoration: none;
}
/* LOGO */
.ms-logo img {
    height: 59px;
    width: 203px;
}

/* SEARCH */
.ms-search {
  max-width: 520px;
  padding: 10px 18px;
  border-radius: 999px;
  border: 1px solid #d1d5db;
  width: 100%;
  font-size: 14px;
}

/* ICONS */
.ms-icon-btn {
  cursor: pointer;
  position: relative;
  font-size: 18px;
  color: #0d3b66;
}

/* CART COUNT */
.cart-count {
  background: #f2b705;
  color: #0d3b66;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 12px;
  margin-left: -10px;
}

/* USER DROPDOWN */
.ms-user-dropdown {
  position: absolute;
  top: 28px;
  right: 0;
  width: 190px;
  background: #0d3b66;
  border-radius: 10px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.25);
  overflow: hidden;
  z-index: 2000;
}

/* MOBILE FIX */
@media (max-width: 576px) {
  .ms-user-dropdown {
    position: fixed;
    top: 45px;
    left: 117px;
    right: 10px;
    width: 190px;
  }
}
.ms-menu-item {
  padding: 9px 10px;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}



/* HAMBURGER BUTTON */
.ms-hamburger{
  font-size:24px;
  cursor:pointer;
  position:absolute;
  left:10px;
  top:18px;
  color:#0d3b66;
  z-index:1200;
}

/* SIDE MENU */
.ms-side-menu{
  position:fixed;
  top:0;
  left:-280px;
  width:280px;
  height:100vh;            /* full screen height */
  background:#0d3b66;
  color:white;
  transition:0.3s;
  z-index:2000;
  padding-top:20px;

  overflow-y:auto;         /* enable vertical scroll */
  overflow-x:hidden;       /* hide horizontal scroll */
}

.ms-side-menu.open{
  left:0;
}

.ms-menu-header{
  display:flex;
  justify-content:space-between;
  padding:15px;
  font-size:18px;
  border-bottom:1px solid rgba(255,255,255,0.2);
}

.close-btn{
  cursor:pointer;
}

.ms-side-menu .ms-menu-item{
  padding:14px 20px;
  border-bottom:1px solid rgba(255,255,255,0.1);
  cursor:pointer;
}

.ms-side-menu .ms-menu-item:hover{
  background:#124a82;
}

/* OVERLAY */
.ms-overlay{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
  opacity:0;
  visibility:hidden;
  transition:0.3s;
  z-index:1500;
}

.ms-overlay.show{
  opacity:1;
  visibility:visible;
}

/* CATEGORY ARROW */
.category{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.arrow{
  font-size:12px;
}

/* SUB MENU */
.ms-sub-menu{
  background:#124a82;
}

.ms-sub-item{
  padding:12px 35px;
  font-size:14px;
  border-bottom:1px solid rgba(255,255,255,0.1);
  cursor:pointer;
}

.ms-sub-item:hover{
  background:#1a5da0;
}

.ms-side-menu::-webkit-scrollbar{
  width:6px;
}

.ms-side-menu::-webkit-scrollbar-thumb{
  background:#2c6db2;
  border-radius:10px;
}