.ms-header {
  background: #dae2f6;
  padding: 12px 16px;
  position: sticky;
  top: 0;
  z-index: 1050;
}

/* LOGO */
.ms-logo img {
    height: 59px;
    width: 203px;
}

/* SEARCH */
.ms-search {
  max-width: 520px;
  padding: 10px 18px;
  border-radius: 999px;
  border: 1px solid #d1d5db;
  width: 100%;
  font-size: 14px;
}

/* ICONS */
.ms-icon-btn {
  cursor: pointer;
  position: relative;
  font-size: 18px;
  color: #0d3b66;
}

/* CART COUNT */
.cart-count {
  background: #f2b705;
  color: #0d3b66;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 12px;
  margin-left: 4px;
}

/* USER DROPDOWN */
.ms-user-dropdown {
  position: absolute;
  top: 28px;
  right: 0;
  width: 190px;
  background: #0d3b66;
  border-radius: 10px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.25);
  overflow: hidden;
  z-index: 2000;
}

/* MOBILE FIX */
@media (max-width: 576px) {
  .ms-user-dropdown {
    position: fixed;
    top: 45px;
    left: 117px;
    right: 10px;
    width: 190px;
  }
}
.ms-menu-item {
  padding: 6px 10px;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}