.popup-container {
  padding: 20px;
}

.row {
  display: flex;
  gap: 20px;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

input, select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.submit-btn {
  margin-top: 20px;
  background-color: #56c2f5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #666;
}
.submit-btn:disabled {
  background-color: #c8c8c8;
  cursor: not-allowed;
  opacity: 0.7;
}
.submit-wrapper {
  display: flex;
  justify-content: center;   /* centers horizontally */
  margin-top: 20px;
}
.popup-line {
  border: 0;
  border-top: 1px solid #dcdcdc;
  margin: 10px 0 20px 0;
}
.header-divider {
  height: 1px;
  background-color: #e0e0e0;
  margin: 10px 0 20px 0;
  width: 100%;
}
.radio-row {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: default; /* text not clickable */
}

.radio-row span {
  cursor: default;
}
