<div class="w-full min-h-screen bg-gray-100 p-8 flex justify-center items-start">
  <mat-card class="w-full max-w-5xl shadow-xl rounded-2xl">
    
     <mat-card-header class="bg-blue-50 text-blue-800 p-3 flex justify-between items-center">
      <mat-card-title class="text-lg font-semibold">{{ title }}</mat-card-title>
      <button mat-icon-button (click)="onClose()" class="close-btn">X</button>
    </mat-card-header>

    <hr class="my-0 marginbottom border-gray-300" />

    <mat-card-content class="p-6">
      <form [formGroup]="servicePartnerForm" (ngSubmit)="onSubmit()" class="row gy-3 mrgtop">
         <div class="col-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" />
            <mat-error *ngIf="servicePartnerForm.get('firstName')?.hasError('required')">
             first Name  is required
            </mat-error>
          </mat-form-field>
        </div>
          <div class="col-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" />
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Business Name</mat-label>
            <input matInput formControlName="servicePartner" />
            <mat-error *ngIf="servicePartnerForm.get('servicePartner')?.hasError('required')">
             Service Partner Name is required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Service Partner PAN</mat-label>
            <input matInput formControlName="pan"  (input)="servicePartnerForm.get('pan')?.setValue($event.target.value.toUpperCase())" maxlength="10"/>
           <mat-error *ngIf="servicePartnerForm.get('pan')?.hasError('required')">
            Service Partner PAN is required
            </mat-error>
            <mat-error *ngIf="servicePartnerForm.get('pan')?.hasError('pattern')">
              Invalid PAN format. Example: ABCDE1234F
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Service Partner GST</mat-label>
            <input matInput formControlName="gst" (input)="servicePartnerForm.get('gst')?.setValue($event.target.value.toUpperCase())" maxlength="15"/>
            <mat-error *ngIf="servicePartnerForm.get('gst')?.hasError('required')">Service Partner GST is required</mat-error>
            <mat-error *ngIf="servicePartnerForm.get('gst')?.hasError('pattern')">
              Invalid GST format. Example: 22AAAAA0000A1Z5
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Service Partner Mobile No</mat-label>
            <input matInput formControlName="phone" maxlength="10"/>
              <mat-error *ngIf="servicePartnerForm.get('phone')?.hasError('required')">
                Phone number is required
              </mat-error>

              <mat-error *ngIf="servicePartnerForm.get('phone')?.hasError('pattern')">
                Invalid phone number. Example: 9876543210
              </mat-error>
            </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Service Partner Email</mat-label>
            <input matInput formControlName="email" />
            <mat-error *ngIf="servicePartnerForm.get('email')?.hasError('required')">
              Email is required
            </mat-error>

            <mat-error *ngIf="servicePartnerForm.get('email')?.hasError('pattern')">
              Invalid email format. Example: example@domain.com
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Service Partner State</mat-label>
            <input matInput formControlName="stateId"
                   [matAutocomplete]="stateAuto"
                   (focus)="showState()"
                   (input)="showState()" />
            <mat-autocomplete #stateAuto="matAutocomplete" [displayWith]="displayState" autoActiveFirstOption (optionSelected)="onStateSelected($event.option.value)">
              <mat-option *ngFor="let state of filteredStates$ | async" [value]="state">{{ state.name }}</mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="servicePartnerForm.get('stateId')?.hasError('required')">State is required</mat-error>
          </mat-form-field>
        </div>

        <!-- Customer City -->
        <div class="col-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Service Partner City</mat-label>
            <input matInput formControlName="cityId"
                   [matAutocomplete]="cityAuto"
                   (focus)="showCities()"
                   (input)="showCities()" />
            <mat-autocomplete #cityAuto="matAutocomplete" [displayWith]="displayCities" autoActiveFirstOption (optionSelected)="onCitySelected($event.option.value)">
              <mat-option *ngFor="let city of filteredCities$ | async" [value]="city">{{ city.name }}</mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="servicePartnerForm.get('cityId')?.hasError('required')">City is required</mat-error>
          </mat-form-field>
        </div>

        <!-- Customer Address -->
        <div class="col-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Service Partner Address</mat-label>
            <textarea matInput formControlName="address" rows="2"></textarea>
            <mat-error *ngIf="servicePartnerForm.get('address')?.hasError('required')">Address is required</mat-error>
          </mat-form-field>
        </div>

        <!-- Customer Pincode -->
        <div class="col-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Service Partner Pincode</mat-label>
            <input matInput formControlName="pinCodeId"
                   [matAutocomplete]="pincodeAuto"
                   (focus)="showPincode()"
                   (input)="showPincode()" />
            <mat-autocomplete #pincodeAuto="matAutocomplete" [displayWith]="displayPincodes">
              <mat-option *ngFor="let pin of filteredPincodes$ | async" [value]="pin">{{ pin.pincode }}</mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="servicePartnerForm.get('pinCodeId')?.hasError('required')">Pincode is required</mat-error>
          </mat-form-field>
        </div>

        <!-- Extra Info -->
        <div class="col-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Extra Info</mat-label>
            <textarea matInput formControlName="extraInfo" rows="2"></textarea>
          </mat-form-field>
        </div>

       
        <!-- Active/Disable Warranty -->
        <div class="col-4 flex items-center">
          <mat-checkbox formControlName="isDisable">Active Service Partner</mat-checkbox>
        </div>

        <!-- Submit Button -->
        <div class="col-8 text-end mt-4">
          <button mat-raised-button color="primary" type="submit" class="px-5 py-2 text-lg" [disabled]="servicePartnerForm.invalid || isSubmitting">{{ submitBtnLabel }}</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
