.auth-container {
  max-width: 400px;
  margin: 60px auto;
  padding: 25px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  background: #1d3557;
  color: white;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

.error { color: red; margin-bottom: 10px; }
