<div class="header">
    <div class="logo"><img src="../../crm/assets/logo.png" alt="" class="app-logo"></div>
  <div class="kab-electro">Service CRM  <span>Kab Electro Solutions</span></div>
    <div class="user-info">
      <span style="color: #4c77a5;">{{firstName}} {{lastName}}<br/><p style="font-size: small;">{{userRole}}</p></span>
       
      <!-- Avatar container with relative positioning -->
      <div class="avatar-container" (click)="toggleDropdown()">
        <div class="user-avatar">{{avatar}}</div>
  
        <!-- Dropdown shown below avatar -->
        <div class="dropdown" *ngIf="showDropdown">
          <button class="logout-button" (click)="logout()">Logout</button>
        </div>
      </div>
    </div>
  </div>
  