mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  font-weight: bold;
  font-size: 18px;
  background-color: black;
  color: white;
}
mat-card-title {
  color: black !important;
}
.divheight{height:600px;}
mat-card {
  overflow-x: auto;
}
.marginbottom{margin-bottom:20px !important}
