.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
}.status-pending {
  color: red;
  font-weight: bold;
}

.status-complete {
  color: green;
  font-weight: bold;
}