<!-- dashboard.component.html -->

@if (isLoading) {
  <div class="spinner-container">
    <div class="spinner"></div>
  </div>
}
<div class="dashboard-container">
  <div *ngIf="isLoading" class="loader-overlay">
        <div class="spinner-border text-primary" role="status">
        </div>
        <p class="text-white mt-2">Please wait...</p>
      </div>
    <!-- Tabs -->
    <div class="tabs">
        <button *ngFor="let tab of tabs"
                [class.active]="tab === activeTab"
                (click)="selectTab(tab)">
          {{ tab }}
        </button>
      
        <button class="reset-button" (click)="resetFilters()">RESET FILTERS</button>
      </div>
      
  
    <!-- Table -->
    <table class="claims-table">
      <thead>
        <tr>
          <th (click)="sortData('id')">Claim Code 
            <input placeholder="Claim Code" [(ngModel)]="filter.id">
            <span [class]="getSortIcon('claimCode')"></span></th>
             <th>Action</th>
          <th (click)="sortData('warrantyActivationCode')">Warranty Serial No.
            <input placeholder="Warranty Serial No." [(ngModel)]="filter.warrantySerialNo"> 
            <span [class]="getSortIcon('warrantySerialNo')"></span></th>
          <th>
            Warranty Type
            <select [(ngModel)]="filter.warrantyType">
              <option value="">Select</option>
              <option *ngFor="let type of uniqueWarrantyTypes">{{ type }}</option>
            </select>
          </th>
          <th>Warranty Code</th>
          <th>Created By</th>
          <th>Plan Name</th>
          <th>Customer Name<input placeholder="Customer Name" [(ngModel)]="filter.customerName"></th>
          <th>Customer Phone<input placeholder="Customer Phone" [(ngModel)]="filter.customerPhone"></th>
          <th>City, State</th>
          <th>Category ,Brand</th>
          <th>Status<input placeholder="Status" [(ngModel)]="filter.status">
          <span [class]="getSortIcon('status')"></span></th>
          <th>Claim Date</th>
          <th>Appointment</th>         
          <th>Channel Name</th>
          <th>Store Name</th>
          <th>IMEI number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let claim of pagedClaims">
          <!-- <td><a href="claim-details?claimId= + {{claim.id}}"  target="_blank"  rel="noopener noreferrer">{{ claim.id }}</a></td> -->
          <!-- <td><a href="javascript:void(0)" (click)="openClaimDetails(claim.id)">{{ claim.id }}</a></td> -->
           <td><a [routerLink]="['/claim-details', claim.id]">{{ claim.id }}</a></td>
           
           <td><mat-icon class="text-success icon-btn" *ngIf="claim.statusName ==='Service Centre Assigned' && role != 'Brand'" (click)="updateClaimStatus(claim.id,'Call Accepted By Service Center', 'Call Accepted' )">check_circle</mat-icon>
            &nbsp; &nbsp;
            <mat-icon class="text-danger icon-btn" *ngIf="claim.statusName ==='Service Centre Assigned' && role != 'Brand'" (click)="updateClaimStatus(claim.id,'Call Rejected By Service Center', 'Call rejected')">cancel</mat-icon>
            <button class="claim-btn" *ngIf="claim.statusName ==='Call Accepted By Service Center' && role != 'Brand'" (click)="openVerifyModal(claim.id)">CLAIM VERIFY</button>
            <button class="claim-btn" *ngIf="claim.statusName ==='Claim Verified' && role != 'Brand'" (click)="openAppointmentPopup(claim.id, claim)">CONFIRM APPOINTMENT</button>
            <button class="claim-btn" *ngIf="claim.statusName ==='Appointment Taken' && role != 'Brand'" (click)="openVisitPopup(claim.id, claim)">CUSTOMER VISIT</button>
            <br>
            <button style="margin-left: 15px;" class="claim-btn" *ngIf="claim.statusName ==='Appointment Taken' && role != 'Brand'" (click)="openAppointmentPopup(claim.id, claim)">Re-appointment</button>
            <button style="margin-left: 15px;" class="claim-btn" *ngIf="claim.statusName ==='Visit Done' && role != 'Brand'" (click)="openShareEstimationPopup(claim.id, claim)">Share Estimation</button>
            <button style="margin-left: 15px;" class="claim-btn" *ngIf="claim.statusName ==='Re Estimate' && role != 'Brand'" (click)="openShareEstimationPopup(claim.id, claim)">Re-Share Estimation</button>
            <button style="margin-left: 15px;" class="claim-btn" *ngIf="claim?.statusName === 'Estimate Accepted' && role != 'Brand'" (click)="openRepairPopup(claim.id, claim)">Start Repair</button>
            <button style="margin-left: 15px;" class="claim-btn" *ngIf="claim?.statusName === 'Repair at Home' || claim?.statusName === 'Repair at SVC' && role != 'Brand'" (click)="openWithOrWithoutRepairPopup(claim.id, claim, 'Close With Repair')">Close With Repair</button>
            <button style="margin-left: 15px;" class="claim-btn" *ngIf="claim?.statusName === 'Repair at Home' || claim?.statusName === 'Repair at SVC' && role != 'Brand'" (click)="openWithOrWithoutRepairPopup(claim.id, claim, 'Close Without Repair')">Close Without Repair</button>
            <button style="margin-left: 15px;" class="claim-btn" *ngIf="claim?.statusName === 'Call Closed Without Repair' || claim?.statusName === 'Repair Completed' || claim?.statusName === 'Invoice Rejected By Service' || claim?.statusName === 'Invoice Rejected By Finance' && role != 'Brand'" (click)="openRaiseInvoicePopup(claim.id, claim)">RAISE INVOICE</button>
            <label *ngIf="claim.statusName ==='Estimation Shared' && role != 'Brand'">Awaiting Estimate Approval</label>
            <label *ngIf="claim.statusName ==='Invoice Claimed' && role != 'Brand'">Awaiting Invoice Approval</label>
            <label *ngIf="claim.statusName ==='Invoice Accepted By Service' && role != 'Brand'">Awaiting Invoice Finance Approval</label>   
            <label *ngIf="claim.statusName ==='Invoice Accepted By Finance' && role != 'Brand'">Awaiting For Payment</label> 
            <label *ngIf="claim.statusName ==='Call Aborted'">Call Aborted</label>
            <label *ngIf="claim.statusName ==='Call Closed'">Call Closed</label>               
          </td>

          <td>{{ claim.warrantyActivationCode }}</td>
          <td>{{ claim.warrantyType }}</td>
          <td>{{ claim.warrantyActivationCode }}</td>
          <td>{{ claim.registeredByName }}</td>
          <td>{{ claim. warrantyType}}</td>
          <td>{{ claim.customerName }}</td>
          <td>{{ claim.customerPhone }}</td>
          <td>{{ claim.customerState }},{{claim.customerCity}}</td>

          
          <td>{{ claim.customerName }}</td>
          <td>{{ claim.statusName }}</td>
          <td>{{ claim.customerPhone }}</td>
          <td>{{ claim.appointment  | date:'MMM d, y'}} at {{claim.appointmentConfirmationTime | date:'hh:mm a'}}</td>
          <td>{{ claim.customerName }}</td>
          <td>{{ claim.customerPhone }}</td>
          <td>{{ claim.customerName }}</td>
        </tr>
      </tbody>
    </table>
  
    <!-- Pagination -->
    <div class="pagination">
      <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
    </div>
  </div>
  