<div class="w-full min-h-screen bg-gray-100 p-6 flex justify-center items-start">
  <mat-card class="w-full max-w-5xl shadow-xl rounded-2xl">
    <mat-card-header class="bg-blue-50 text-blue-800 p-3 flex justify-between items-center">
      <mat-card-title class="text-lg font-semibold">{{ title }}</mat-card-title>
      <button mat-icon-button (click)="onClose()" class="close-btn">X</button>
    </mat-card-header>
    <hr class="my-0" />

    <mat-card-content class="p-4">
      <form [formGroup]="planForm" (ngSubmit)="onSubmit()" class="row gy-2" style="row-gap: 8px; margin-top: 14px;">

        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Category</mat-label>
            <input
              type="text"
              matInput
              [matAutocomplete]="categoryAuto"
              formControlName="catId"
              (focus)="showAllCategoriesTypes()"
            >
            <mat-autocomplete
              #categoryAuto="matAutocomplete"
              [displayWith]="displayCategoryName"
              autoActiveFirstOption
            >
              <mat-option *ngFor="let category of filteredcategories$ | async" [value]="category">
                {{ category.catName }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="planForm.get('catId')?.hasError('required')">
              Category is required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Plan Name</mat-label>
            <input matInput formControlName="planName" required />
            <mat-error *ngIf="planForm.get('planName')?.hasError('required')">
              Plan Name is required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" rows="3"></textarea>
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Remark</mat-label>
            <textarea matInput formControlName="remark" rows="3"></textarea>
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-checkbox formControlName="isDisable">Active Plan</mat-checkbox>
        </div>

        <div class="col-12 text-end mt-2">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            class="px-5 py-2 text-lg"
            [disabled]="planForm.invalid"
          >
            {{ submitBtnLabel }}
          </button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>
